.App {
    background: lightgray;
    display: flex;

}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio {
    background: #777;
    display: flex;
    flex-direction: column;
}

.header {
    background: red;
    height: 100px;
}